#mainWindow{
	
	width: 70%;
	height: 70%;
	margin-left: 10%;

}

div ul li{
	list-style-type: none;
	margin-bottom:0;

}

#mainWindow .connectedUsers{
	padding: 1%;
	


	background: rgb(230, 230, 230);
	height:70%;
	width:15%;
}
#mainWindow .chatWindow{

}