<!DOCTYPE html>
<html ng-app="chatApp" >
<head>
  <!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
 <!-- <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
 <!--  <meta name="apple-mobile-web-app-capable" content="yes"> -->
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">


 <script src="lib/moment.js"></script>
 <script src="lib/angular/angular.js"></script>
 
 <link rel="stylesheet" type="text/css" href="css/style.css">
 <link rel="stylesheet" href="http://cdn.jsdelivr.net/foundation/4.1.2/css/foundation.css" />

 <title>ChatApp</title>
</head>

<body ng-controller="MainCtrl">
    <div class="panel">
      <h3>
        ChatApp
      </h3>
    </div>

    <div class="content" id="mainWindow">
      <div class="row">
        <div class="nine columns chatWindow" style = "width:66%">
          <div class="row">
            <div class="nine columns" style="width:66%;">

              <h2 ng-show="change">User Name: {{user}}</h2>
              <input ng-hide="change" ng-model="user" placeholder="Type your name here first" type="text" style="width:40%; margin-left:60%;margin-top:1.18%;"/>

            </div>

          <div class="three columns" style="width:33%;">
            <a class="button" ng-click="addUser(user);change = !change">{{change && "Change"|| "Done"}}</a>
          </div>

        </div>

          <ul style="margin-top:30px; margin-bottom:30px;">

            <li class="panel" ng-repeat="message in conversation" 
            ng-class="{highlighted: $index % 2}">
              <h5> {{usersList.user}}: {{message.text}}</h5>
            </li>

          </ul>

          <div class="row">

             <div class="nine columns" style="width:66%;height:35%;">
                <input ng-model="message" type="text" style="width:100%;margin-top:1.18%;"/>
             </div>

              <div class="three columns" style="width:33%;">
                <a class="button" ng-click="addMessage(user, message)">Submit</a>
              </div>

            </div>
          </div>
        <div class="three columns connectedUsers"style = "width:33%;height:70%">
        <h3>Online Users</h3>

          <li class="panel" ng-repeat="users in conversation">
             <h5> {{users.user}}</h5>
          </li>

        </div>
      </div>
    </div>


 


  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>

</body>
</html>
