<div id="mainWindow" ng-init="getMessages()">
	<div class="container">
		<input type="text" class="input-small" ng-model="sender" placeholder="Screen name" />
		<ul id="conversation">
			<li class="panel message" ng-repeat="message in messages.data">
				<div class="title">
					<h5 style= "color:#2BA6CB">{{message.sender}}:</h5>
					<span class="floatRight">{{getDate()}}</span>
				</div>
				<div><h5 ng:bind-html-unsafe="message.message"></h5></div></span>
			</li>
			<li class="panel nomessage" ng-show="messages.data.length == 0">
				<div class="title" style="text-align:center;">
					<h5>No Messages</h5>
				</div>
				<div><h5 ng:bind-html-unsafe="message.message"></h5></div></span>
			</li>
		</ul>
		<form class="form-inline">
			<div class="messageBox" style="float:left;">
				<input type="text" class="input-large" ng-model="message" placeholder="Type a message..." />
			</div>
			<button id="send-btn" class="button floatRight" ng-click="addMessage(); message=''" >Send</button>
		</form>
	</div>
</div>